<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
  Dear <%= name %>,
</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
  Here are your account details:
</p>
<ul
  style="
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
  "
>
  <li style="color: #555555">Email: <%= email %></li>
  <li style="color: #555555">Login URL: <%= loginUrl %></li>
</ul>

<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
  Thanks!<br />NestJs Blog Support
</p>
