<p>Dear <%= name %>,</p>
<p>
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p>Here are your account details:</p>
<ul>
  <li>Email: <%= email %></li>
  <li>Login URL: <%= loginUrl %></li>
</ul>

Thanks!
NestJs Blog Support